.RecipeList {
    display: flex;
    flex-direction: column; /* Stacks the RecipeItem components vertically */
    gap: 20px; /* Adds some space between each RecipeItem */
    padding: 20px; /* Optional padding around the list */
    overflow-y: auto; /* Makes the RecipeList scrollable */
    width: 60%;
}

.placeholder{
    padding-left: 20%;
    height: 100%;
    opacity: 0.5;
}

